---
---

<div class="hero min-h-[80vh]" style="background-image: url(/public/hero.jpg);">
  <div class="hero-overlay bg-opacity-30"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Bluejay Hvac</h1>
      <p class="mb-5">Experience the comfort you deserve with our top-tier HVAC services, tailored to ensure your home stays perfectly cool in summer and cozy warm in winter. </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>